@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

img {
    border:0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #0f0, #000);
    animation: animate 5s linear infinite;
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background: #0f0;
    transition: 0s;
}


@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.navegacion {
    width: 80%;
    background: #181818;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.menu {
    width: 100%;
    flex-wrap: wrap;
    height: 90px;
	list-style: none; /* Elimina el estilo de viñeta de la lista */
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

.menu li {
    flex-grow: 1;
    border-right: 1px solid #0f0;
    position: relative;
	margin: 10px; /* Añade un margen entre los elementos */
}

.menu .first-item {
    border-left: 1px solid #0f0;
}

.menu li a {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff; /* Color de texto ajustado */
    text-decoration: none; /* Quita la subrayado del enlace */
}

.menu .imagen {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 0%;
    z-index: 20;
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
}

.menu li:hover .imagen {
    width: 70%;
    right: 20px;	
}

.menu li a .up-text-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0%;
    position: absolute;
    z-index: 10;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.menu li a .up-item {
    top: 0%;
    width: 100%;
    height: 100%;
    background: #1C1C1C;
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.menu li:hover .up-item,
.menu li:hover .up-text-item {
    top: -100%;
    height: 115%;
    border-radius: 5px;
}

.menu li a .text-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0%;
    position: absolute;
    z-index: 10;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.menu li a .down-item {
    top: 0%;
    width: 100%;
    height: 100%;
    background: #1C1C1C;
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.menu li:hover .down-item,
.menu li:hover .text-item {
    top: 100%;
    height: 115%;
    border-radius: 5px;

}

.opcion-span p {
    color: white;
    margin-top: 10px;
}

@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

section .signin {
    position: absolute;
    width: 400px;
    background: #222;  
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
}

section .signin .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
	
}

section .signin .content h2 {
    font-size: 2em;
    color: #0f0;
    text-transform: uppercase;
}

section .signin .content .form {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .signin .content .form .inputBox {
    position: relative;
    width: 100%;
}

section .signin .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: #181818;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

section .signin .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a {
    color: #fff;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
    color: #0f0;
    font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
    padding: 10px;
    background: #0f0;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}

#opcion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10vh; /* Ajusta la altura según sea necesario */
}

.option {
    flex: 1; /* Ocupa todo el ancho disponible */
    max-width: 70px; /* Ajusta el ancho máximo de cada opción según sea necesario */
    margin: 10px;
}

.opcion-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #181818;
    padding: 20px; /* Ajusta el espacio interno del contenedor */
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.opcion-span:hover {
    background-color: #555;
}

.opcion-span img {
    width: 100%; /* Ajusta la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px;
    border-radius: 4px;
}

.opcion-span p {
    color: white;
    margin-top: 10px;
}
